@import "_constant.scss";
@import "_global.scss";

.hdr-wpr{
    position: relative;
    &:before{
        content:'';
        width: 710px;
        height: 590px;
        background: url(../images/bg-banner.png)no-repeat top right;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}
header{
    /*box-shadow: 0 2px 5px 0 rgba($black, 0.3);*/
    height:90px;
    > .container{
        height: inherit;
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        .hdr-nav{
            color: $white;
            align-self: flex-start;
        }
    }
}
.banner{
    height: 577px;
    .slick-banner{
        margin-bottom: 0;
        height: 577px;
        .banner-txt{
            /*align-self:center;*/
            h1{
                color: $pcolor;
                font-weight: $bold;
                margin-bottom: $sm-space;
                text-transform: uppercase;
                text-shadow: 1px 1px 0 rgba($black, 0.3);
            }
            p{
                margin-bottom: $md-space;
            }
        }
        .list-inline-item:not(:last-child) {
            margin-right: 0;
        }
        .banner-img{
            figure{
                img{
                    width: 70%;
                    margin-left: auto;
                }
            }
        }
    }
    .row{
        width: 100%;
        height: 577px !important;
        position: relative;
        .banner-txt{
            position: absolute;
            top: 150px;
            left: 0;
            display: inline-block;
        }
        .banner-img{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .slick-dots{
        bottom:150px;
    } 
}
.slick-dots{
    left: 0;
    width: auto;
    li{
        margin:0;
        &.slick-active{
            button:before {
                opacity: 1;
                background: $pcolor;
            }
        } 
        button{
            width: 15px;
            height: 15px;
            padding: 0;
            border-radius: 100%;
            &:before{
                content: ' ';
                width: 15px;
                height: 15px;
                background: $pcolor;
                border-radius: 100%;
            }
        }
    }
}
.section-title{
    margin-bottom:65px;
    h5{
        font-weight: $bold;
        margin-bottom: 5px;
        color: #888;
    }
    h2{
        font-weight: $bold;
        text-transform: uppercase;
        @include flexbox;
        align-items: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    }
    p{
        margin-top: 15px;
    }
    .hex{
        position: relative;
        width: 30px; 
        height: 17.32px;
        background-color: $scolor;
        margin: 8.66px 10px 8.66px 0;
        &:before,
            &:after{
            content: "";
            position: absolute;
            width: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
        &:before{
            bottom: 100%;
            border-bottom: 8.66px solid $scolor;
        }
        &:after {
            top: 100%;
            width: 0;
            border-top: 8.66px solid $scolor;
        }
    }
}
.fp-abt{
    padding: 35px 0;
    background: $tcolor;
    color: $white;
    position: relative;
    z-index: 0;
    &:before{
        content:'';
        width: 100%;
        height: 100%;
        background: url(../images/trapezium.png)no-repeat top right;
        background-size: auto 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .section-title{
        margin-bottom: 10px;
        h2{
            text-transform: capitalize;
        }
    }
    .fa-txt{
        margin-bottom: 0;
    }
}
.fp-service{
    padding-bottom:0;
    .fs-item{
        min-height: 300px;
        padding: 50px 0;
        position: relative;
        &:before{
            content:'';
            width: 100%;
            height: 100%;
            background: url(../images/shade.png)no-repeat top right;
            background-size: auto 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        >.container > .row{
            align-items: center;
        }
        figure{
            width: 50%;
            margin: 0 auto;
        }
        .fsi-txt{
            h3{
                letter-spacing: auto;
                font-weight: $semi-bold;
                margin-bottom: 5px;
                text-transform: uppercase;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                small{
                    font-weight: $semi-bold;
                    text-transform: lowercase;
                }
            }
        }
        &:nth-child(even){
            text-align: left;
            &:before{
                content:'';
                background: url(../images/shade.png)no-repeat top right;
                background-size: auto 100%;
                left: 0;
                right: auto;   
                transform: rotate(180deg);
            }
            .fsi-txt{
                text-align: left;

            }
        }
        &:nth-child(odd){
            .fsi-txt{
                text-align: right;

            }
        }
        &:nth-child(1){
            h3{
                color: #f78c57;

            }
        }
        &:nth-child(2){
            h3{
                color: #86B114;

            }
        }
        &:nth-child(3){
            h3{
                color: #3e4c5b;

            }
        }
    }
}
.fp-process{
    min-height: 480px;
    background: rgba($black,0.4);
    position: relative;
    &:before{
        content:'';
        width: 100%;
        height: 100%;
        background: url(../images/bg-process.jpg)no-repeat top;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .section-title{
        color: $white;
    }
    .fpp-content{
        li{
            width: 23%;
            .fpp-hex{
                figure{
                    height: inherit;
                    @include flexbox;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 50%;
                    }
                }
            }
            article{
                text-align: center;
                color: $white;
                margin-top: 20px;
                display: inline-block;
                h4{
                    font-weight: $semi-bold;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                    margin-bottom: 10px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.fpp-hex{
    position: relative;
    width: 130px; 
    height: 75.06px;
    background-color: $tcolor;
    margin: 37.53px auto 37.53px ;
    @include transition(linear 0.3s);
    &:before,
        &:after{
        content: "";
        position: absolute;
        width: 0;
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        @include transition(linear 0.3s);
    }
    &:before{
        bottom: 100%;
        border-bottom: 37.53px solid $tcolor;
    }
    &:after{
        top: 100%;
        width: 0;
        border-top: 37.53px solid $tcolor;
    }
    &:hover{
        background: $pcolor;
        &:before{
            bottom: 100%;
            border-bottom: 37.53px solid $pcolor;
        }
        &:after{
            top: 100%;
            width: 0;
            border-top: 37.53px solid $pcolor;
        }

    }
}
.slick-work{
    .slick-slide {
        margin: 0 15px;
    }
    .slick-list {
        margin: 0 -15px;
    }
    .slick-prev:before, .slick-next:before {
        color: black;
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next{
        right: -40px;
    }
    .fpw-item{
        min-height: 390px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        @include transition(linear 0.3s);
        > figure{
            height: 200px;
        }
        article{
            padding: 15px;
            h3{
                font-weight: $semi-bold;
                /*margin-bottom: 5px;*/
                color: $pcolor;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
            }
            figure{
                img{
                    width:55px;
                    margin: 0 auto;
                }
            }
        }
        &:hover{
            box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.6);
            .fpw-hover{
                opacity: 1;
                top: 0;

            }
        }
        a.fpw-hover{
            opacity: 0;
            background: rgba($pcolor, 0.95);
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            @include flexbox;
            align-items: center;
            justify-content: center;
            @include transition(linear 0.5s);
            i.fas{
                font-size: 32px;
                color: $white;
            }
        }
    }
}
.fp-testimonial{
    padding: 0;
    margin-top: -10px;
    position: relative;
    &:before{
        content:'';
        width:78%;
        height: 420px;
        background: #f8f8f8;
        position: absolute;
        top: 47px;
        left: 0;
        z-index: -1;
    }
    &:after{
        content:'';
        width: 22%;
        height: 578px;
        background: url(../images/testimonial-trap.png) no-repeat top right;
        background-size: 100% 100%;
        position: absolute;
        top: -112px;
        right: 0;
        z-index: -1;
    }
    .fpt-item{
        .fpt-txt{
            min-height: 360px;
            margin-top: 110px;
            position:relative;
            .fas{
                font-size: 40px;
                color: $pcolor;
                margin-bottom: 20px;
            }
            h4{
                font-size: 28px;
                color: #333;
                font-weight: $bold;
            }
            article{
                position: absolute;
                bottom: 90px;
                h5{
                    font-size: 22px;
                    font-weight: $semi-bold;
                    color: $pcolor;
                    text-transform: uppercase;
                    letter-spacing: 0.6px;
                }
                p{
                    font-size: 16px;
                    color: #333;
                    font-weight: $semi-bold;
                    margin-bottom: 0;
                }
            }
        }
        figure{
            img{
                width: 350px;
                margin: 0 auto;
            }
        }
    }
    .slick-dots {
        bottom: 90px;
        right: -10%;
    }
}
.fp-partner{
    .slick-partner{
        margin-bottom: 0;
    }
    figure{
        width: 65%;
        margin: 0 auto;
    }
    .slick-slide {
        margin: 0 15px;
    }
    .slick-list {
        margin: 0 -15px;
    }
}
.fp-blog{
    background: #f8f8f8;
    .fpb-item{
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        @include transition(linear 0.5s);
        &:hover{
            box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.5);
        }
        figure{
            position: relative;
            height: 225px;
            .fpb-badge{
                width: 60px;
                height:70px;
                background: $pcolor;
                color: $white;
                position: absolute;
                top:0;
                left: 7px;
                @include flexbox;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h4{
                    font-size: 28px;
                    font-weight: $bold;
                }
                h5{
                    font-weight: $regular;
                }
            }
        }
        article{
            text-align: center;
            padding: 15px;
            h3{
                color: $pcolor;
                font-weight: $semi-bold;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                text-align: left;
            }
            p{
                text-align: left;
            }
        }
    }
    div[class*='col-']{
        margin-bottom: 30px;
        &:nth-child(-n+2){
            .fpb-item{
                figure{
                    height: 300px;
                    .fpb-badge{
                        width: 70px;
                        height:80px;
                        h4{
                            font-size: 32px;
                        }
                    }
                }
                article{
                    text-align: left;
                    padding: 15px;
                    h3{
                        color: $pcolor;
                        font-weight: $semi-bold;
                        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}
.fp-contact{
    padding-bottom: 0;
    min-height:645px;
    position: relative;
    &:before{
        content:'';
        width: 555px;
        height: 100%;
        background: url(../images/find.png) no-repeat bottom right;
        background-size: contain;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .section-title{
        margin-bottom: 0;
        text-align: center;
        h2{
            display: inline-block;
            color: $pcolor;
        }
    }
    .fpc-list{
        display: inline-block;
        width: 420px;
        figure{
            width:inherit;
            position: relative;
        }
        .fpc-list-contact{
            width: 300px;
            color: $white;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h3{
                font-weight: $bold;
                text-align: center;
            }
            li{
                padding-left: 0;
            }
        }
    }
}
footer{
    min-height: 350px;
    color: $white;
    background: $pcolor;
    padding-top: 65px;
    position: relative;
    &:before{
        content:'';
        width: 525px;
        height: 100%;
        background: url(../images/bg-footer.png) no-repeat top left;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    > .container{
        margin-bottom: 30px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
    }
    h3{
        font-weight: $bold;
        margin-bottom: 10px;
    }
    .list-group .list-group-item {
        padding: 2px 0;
    }
    .ft-quick{
        li{
            @include transition(linear 0.3s);
            a{
                font-size: 14px;
            }
            .fas{
                font-size: 10px;
            }
            &:hover{
                margin-left: 3px;
            }
        }
    }
    .ft-social{
        h3{
            text-align: center;
            color: $pcolor;
        }
        ul{
            margin-top: 35px;
            @include flexbox;
            justify-content: center;
            li{
                width: 50px;
            }
        }

    }
    .ft-recent{
        ul li a p{
            &:last-child{
                margin-bottom: 0;
                font-size: 12px;
                color: #efefef;
            }
        }
    }
    .ft-bottom{
        width: 100%;
        height: 40px;
        background: $tcolor;
        position: absolute;
        bottom: 0;
        left: 0;
        .container{
            height: inherit;
            @include flexbox;
            align-items: center;
            justify-content: center;
        }
        p{
            margin-bottom: 0;
        }
    }
}
.inr-hdr-wpr{
    position: relative;
    box-shadow: 0 1px 5px 0 rgba($black, 0.1);
    &:before{
        content: '';
        width: 65%;
        height: 90px;
        background: url(../images/bg-inr-hdr.png) no-repeat top right;
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}
.inr-bnr{
    width: 100%;
    height: 180px;
    background: rgba($black,0.4);
    padding: 0;
    position: relative;
    &:before{
        content:'';
        width: 100%;
        height: 100%;
        background: url(../images/bg-process.jpg)no-repeat center;
        background-size: 100%;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .ib-txt{
        height: 180px;
        color:$white;
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        h1{
            font-weight: $semi-bold;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
        }
    }
    ol.breadcrumb{
        background: transparent;
        padding: 0;
        margin-bottom: 0;
        li{
            color:$white;
            &:before{
                color:$white;
            }
            a{
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

            }
        }
        .breadcrumb-item+.breadcrumb-item {
            padding-left: 3px;
        }
        .breadcrumb-item+.breadcrumb-item::before {
            padding-right: 3px;
        }
    }
}
.inr-title{
    h3{
        color: $pcolor;
        font-weight: $bold;
        margin-bottom: 10px;
    }
    h4{
        font-weight: $semi-bold;
        color: $pcolor;
        margin-bottom: 10px;
    }
    p{
        color: #666;
    }
}
.inr-abt{
    figure{
        width: 80%;
        margin-left: auto;
    }
}
.inr-case{
    div[class*='col-']{
        margin-bottom: 30px;
    }
    .ic-item{
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        @include transition(linear 0.5s);
        &:hover{
            box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.5);
        }
        figure{
            position: relative;
            height: 225px;
        }
        article{
            text-align: center;
            padding: 15px;
            h3{
                color: $pcolor;
                font-weight: $semi-bold;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                text-align: left;
            }
            p{
                text-align: left;
            }
        }
    }
}
.ip-detail{
    margin-bottom:65px;
    figure{
        height: 250px;
    }
}
.is-detail{
    figure{
        height:350px;
        margin-bottom: 30px;
    }
}
.sidebar-service{
    ul.nav-tabs{
        border: none;
        li.nav-item{
            margin-bottom: 15px;
            &:hover{
                a.nav-link{
                    background: $scolor;
                    color: $white;
                }
            }
            a.nav-link{
                min-height: 50px;
                color: #333;
                background: #dfdfdf;
                border: none;
                text-transform: uppercase;
                font-weight: $semi-bold;
                border-radius: 0;
                @include flexbox;
                align-items: center;
                justify-content: center;
                @include transition(linear 0.3s);
                &.active{
                    background: $scolor;
                    color: $white;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.sidebar-contact{
    ul{
        margin-left: 30px;
        margin-bottom: 30px;
        li {
            color: #333;
            padding-left: 0;
            a{
                @include transition(linear 0.3s);
            }
            .fas{
                color: $pcolor;
            }
            &:hover{
                a{
                    color: $pcolor;
                }
            }
        }
    }
}
.blog-item{
    /*border-bottom: 1px solid #ddd;*/
    &:after{
        content: '';
        width: 100%;
        height: 1px;
        background: #ddd;
        margin: 40px 0;
        display: block;
    }
    &:last-child{
        &:after{
            content: '';
            display: none;
            border: none;
        }
    }
    figure {
        height: 250px;
        margin-bottom: 5px;
    } 
}
.bi-date{
    margin-bottom:5px;
    li{
        font-size: 11px;
        color: #c0c2c4;
        .fas{
            margin-right: 5px;
        }
    }
}
.sidebar-blog{
    ul{
        li{
            padding: 0;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                @include flexbox;
                align-items: center;
            }
            article{
                h4{
                    margin-bottom: 0;
                }
                p{
                    margin-bottom: 0;
                    color: #666;
                    font-size: 13px;
                    font-weight: $semi-bold;
                }
            }
        }
    }
    .sb-hex {
        position: relative;
        width: 55px; 
        height: 31.75px;
        background-color: $pcolor;
        margin: 15.88px 20px 15.88px 0;
        &:before,
            &:after {
            content: "";
            position: absolute;
            width: 0;
            border-left: 27.5px solid transparent;
            border-right: 27.5px solid transparent;
        }
        &:before {
            bottom: 100%;
            border-bottom: 15.88px solid $pcolor;
        }
        &:after {
            top: 100%;
            width: 0;
            border-top: 15.88px solid $pcolor;
        }
        .fas{
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            font-size: 24px;
        }
    }
}
.inr-wpr{
    &.inr-blog{
        padding-bottom: 0;
        &.ib-detail{
            padding-bottom: 65px !important;
        }
    }
}
.ibd-list{
    li{
        width: 100%;
        min-height: 100px;
        background: #f8f8f8 !important;
        border-left: 4px solid $pcolor !important;
        border-radius: none !important;
        padding: 25px 30px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        p{
            font-weight: $semi-bold;
            color: #888;
            font-size: 16px;
        }
        h6{
            font-weight: $bold;
            color: $pcolor;
            font-size: 16px;
        }
    }
}
.ibd-comment{
    text-align: center;
    background: #f8f8f8;
    .section-title {
        /*margin-bottom: 0;*/
        text-align: center;
        h2 {
            display: inline-block;
            color: #012859;
        }
    }
    form{
        border: none;
        padding: 0;
    }
}